{% if site.lang == "en" %}
  {% assign data = site.data.sidebar_en %}
{% elsif site.lang == "zh" %}
  {% assign data = site.data.sidebar_zh %}
{% endif %}
<aside id="sidebar">
  {% for section in data %}
  <h4>{{ section.title }}</h4>
  <ul>
    {% for item in section.docs %}
    {% assign item_path = item[0] | prepend: "_docs/" | append: ".md" %}
    <li{% if item_path == page.path %} class="current"{% endif %}><a href="{{ item[0] }}" target="_self">{{ item[1] }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</aside>
