{% if site.lang == "en" %}
  {% assign data = site.data.sidebar_en %}
{% elsif site.lang == "zh" %}
  {% assign data = site.data.sidebar_zh %}
{% endif %}
<select class="nav-mobile" onchange="if (this.value) window.location.href=this.value">
  <option value="">{% translate global.navigate %}</option>
  {% for section in data %}
  <optgroup label="{{ section.title }}">
    {% for item in section.docs %}
      <option value="{{ item[0] }}">{{ item[1] }}</option>
    {% endfor %}
  </optgroup>
  {% endfor %}
</select>
