aside {
  float: left;
  padding-top: 60px;
  padding-right: 20px;

  h4 {
    margin-bottom: .5em;
    font-size: 20px;
  }

  ul {
    padding-left: .5em;
    padding-bottom: 1.5em;
    list-style: none;
    line-height: 1.8;
  }

  a,
  a:hover {
    color: #233;
  }

  li.current {
    position: relative;

    a {
      color: #ee6723;
    }

    &::after {
      margin: .25em 0 0 .5em;
      color: #ee6723;
      font-family: FontAwesome, $base-font-family;
      font-size: 90%;
      content: '\f00c';
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.nav-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
    margin-top: 2.5em;
    width: 100%;
    border: 0;
    background: none;
  }
}
