$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

* {
  margin: 0;
  padding: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  background: rgba(188, 181, 185, .1);
  color: #233;
  font: 16px/1.6 $base-font-family;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: #ee6723;
  text-decoration: none;
  -webkit-transition: color .1s;
  transition: color .1s;

  &:hover,
  &:active {
    color: darken(#ee6723, 10%);
    text-decoration: underline;
  }
}

::-moz-selection {
  background: #ee6723;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

::selection {
  background: #ee6723;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 1200px;
  }
}

header {
  height: 72px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
}

.github-icon {
  width: 30px;
  color: #ee6723;
  margin-top: 20px;
}

.brand {
  float: left;
  color: #233;
  font-size: 26px;
  line-height: 72px;
  font-weight: 700;

  &:hover {
    color: #233;
    text-decoration: none;
  }
}

nav {
  float: right;

  a {
    float: left;
    display: inline-block;
    position: relative;
    padding: 0 25px;
    color: #bbb;
    line-height: 72px;
    text-align: center;
    text-decoration: none;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      content: '';
      background: #ee6723;
      -webkit-transition: height .2s;
      transition: height .2s;
    }

    &:hover,
    &.current {
      background: rgba(188, 181, 185, .1);
      color: darken(#bbb, 10%);
      text-decoration: none;

      &::after {
        height: 4px;
      }
    }

    &.current {
      cursor: default;
    }
  }
}

.menu {
  display: none;
}

// Mobile
@media (max-width: 767px) {
  header {
    position: relative;
    min-height: 72px;
    height: auto;
    overflow: visible;
  }

  nav {
    display: none;
    float: none;
    clear: both;

    a {
      float: none;
      display: block;
      line-height: 3;
    }
  }

  .menu {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 0;
    width: 80px;
    border: 0;
    background: none;
    outline: none;
    text-align: center;

    &::before {
      font: 26px/2 FontAwesome, $base-font-family;
      content: '\f0c9';
    }
  }

  .lang-button {
    float: inherit !important;
    margin: 15px auto !important;
    padding: 0 !important;
    width: 70px;
    border: none !important;
    font-size: 16px !important;
    text-align: center;
  }

  .nav-fix {
    display: none;
  }
}


footer {
  padding: 20px 0;
  color: #bbb;
  text-align: center;
  line-height: 2;

  a {
    color: darken(#bbb, 10%);
  }
}

paper-ripple {
  &.peach {
    color: #ee6723;
  }

  &.maroon {
    color: #574751;
  }
}

.clearfix {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

.text-center {
  text-align: center;
}

.lang-button {
  cursor: pointer;
  float: left;
  color: #ee6723;
  border: 1px solid #ee6723;
  padding: 1px 4px;
  font-size: 11px;
  border-radius: 2px;
  margin-top: 25px;
  margin-left: 20px;
}
