/**
 * Web Fonts
 */

// @font-face {
//   font-family: 'NanumPen';
//   src: url(../fonts/NanumPen/NanumPenScript-Regular.eot);
//   src: local(Nanum Pen Script),
//        local(NanumPenScript),
//        local(NanumPenScript-Regular),
//        url(../fonts/NanumPen/NanumPenScript-Regular.eot#iefix) format(embedded-opentype),
//        url(../fonts/NanumPen/NanumPenScript-Regular.woff2) format(woff2),
//        url(../fonts/NanumPen/NanumPenScript-Regular.woff) format(woff),
//        url(../fonts/NanumPen/NanumPenScript-Regular.ttf) format(truetype),
//        url(../fonts/NanumPen/NanumPenScript-Regular.svg#NanumPenRegular) format(svg);
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/FontAwesome-webfont.eot?v=4.6.3');
  src: url('../fonts/FontAwesome/FontAwesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/FontAwesome/FontAwesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/FontAwesome/FontAwesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/FontAwesome/FontAwesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/FontAwesome/FontAwesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans/light/OpenSans-Light.eot);
  src: local('Open Sans Light'),
       local('OpenSans-Light'),
       url(../fonts/OpenSans/light/OpenSans-Light.eot#iefix) format('embedded-opentype'),
       url(../fonts/OpenSans/light/OpenSans-Light.woff2) format('woff2'),
       url(../fonts/OpenSans/light/OpenSans-Light.woff) format('woff'),
       url(../fonts/OpenSans/light/OpenSans-Light.ttf) format('truetype'),
       url(../fonts/OpenSans/light/OpenSans-Light.svg#OpenSansLight) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans/regular/OpenSans-Regular.eot);
  src: local('Open Sans'),
       local('OpenSans'),
       url(../fonts/OpenSans/regular/OpenSans-Regular.eot#iefix) format('embedded-opentype'),
       url(../fonts/OpenSans/regular/OpenSans-Regular.woff2) format('woff2'),
       url(../fonts/OpenSans/regular/OpenSans-Regular.woff) format('woff'),
       url(../fonts/OpenSans/regular/OpenSans-Regular.ttf) format('truetype'),
       url(../fonts/OpenSans/regular/OpenSans-Regular.svg#OpenSansRegular) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans/semibold/OpenSans-Semibold.eot);
  src: local('Open Sans Semibold'),
       local('OpenSans-Semibold'),
       url(../fonts/OpenSans/semibold/OpenSans-Semibold.eot#iefix) format('embedded-opentype'),
       url(../fonts/OpenSans/semibold/OpenSans-Semibold.woff2) format('woff2'),
       url(../fonts/OpenSans/semibold/OpenSans-Semibold.woff) format('woff'),
       url(../fonts/OpenSans/semibold/OpenSans-Semibold.ttf) format('truetype'),
       url(../fonts/OpenSans/semibold/OpenSans-Semibold.svg#OpenSansSemibold) format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans/bold/OpenSans-Bold.eot);
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url(../fonts/OpenSans/bold/OpenSans-Bold.eot#iefix) format('embedded-opentype'),
       url(../fonts/OpenSans/bold/OpenSans-Bold.woff2) format('woff2'),
       url(../fonts/OpenSans/bold/OpenSans-Bold.woff) format('woff'),
       url(../fonts/OpenSans/bold/OpenSans-Bold.ttf) format('truetype'),
       url(../fonts/OpenSans/bold/OpenSans-Bold.svg#OpenSansBold) format('svg');
  font-weight: 700;
  font-style: normal;
}
