body[data-page="home"] .container {
  @media (min-width: 768px) {
    width: 1000px;
  }
}

.hello-world {
  padding: 5em 0;

  svg:not(.love) {
    width: 300px;
  }

  h1 {
    font-weight: 400;
  }
}

.love {
  &:first-of-type {
    -webkit-transform: translate(8px, 0) scale(1.5) rotate(-14deg);
    transform: translate(8px, 0) scale(1.5) rotate(-14deg);
  }

  &:last-of-type {
    -webkit-transform: translate(20px, -10px) scale(2) rotate(26deg);
    transform: translate(20px, -10px) scale(2) rotate(26deg);;
  }
}

.getting-started {
  display: inline-block;
  position: relative;
  margin-top: 1em;
  width: 240px;
  background: #ee6723;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(87, 71, 81, .2);
  color: #fff;
  font-size: 18px;
  line-height: 46px;
  -webkit-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    box-shadow: 0 6px 10px rgba(87, 71, 81, .2);
    color: #fff;
    text-decoration: none;
  }
}

.command {
  position: relative;
  padding: 3em 0 4em;
  background: #fff;
  font-size: 1.5em;

  .highlight {
    margin: 1.5em auto 0;
    padding: 1em 1.8em 1.8em;
  }

  // &::after {
  //   position: absolute;
  //   left: calc(50% + 220px);
  //   top: calc(50% + 58px);
  //   width: 55px;
  //   height: 140px;
  //   background: url(../img/arrow.png) no-repeat;
  //   content: '';
  // }
}

.play {
  display: inline-block;
  position: absolute;
  left: -webkit-calc(50% - 36px);
  left: calc(50% - 36px);
  bottom: 61px;
  width: 72px;
  height: 72px;
  background: #fff;
  border: 0;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(87, 71, 81, .2);
  text-align: center;
  cursor: pointer;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    box-shadow: 0 6px 10px rgba(87, 71, 81, .2);
  }

  &::after {
    position: absolute;
    top: -webkit-calc(50% - 12px);
    top: calc(50% - 12px);
    left: -webkit-calc(50% - 7px);
    left: calc(50% - 7px);
    color: #ee6723;
    font: 26px/1 FontAwesome, $base-font-family;
    content: '\f04b';
  }
}

.sample {
  display: none;
  padding: 1em 0 3em;
  background: #fff;

  video {
    width: 100%;
    height: 500px;
  }
}

.features {
  padding: 6em 0 1em;

  h3 {
    font-size: 22px;
  }

  p {
    margin-top: 8px;
    color: #888;
    font-size: 18px;
  }
}

.feature-item {
  position: relative;
  float: left;
  width: 48%;
  height: 12em;
  padding-left: 80px;

  &::before,
  &::after {
    position: absolute;
    top: -3px;
    left: 8px;
    color: #ee6723;
    font: 40px/1 FontAwesome, $base-font-family;
  }

  &:nth-of-type(2n-1) {
    padding-right: 100px;
    width: 52%;
  }

  &:nth-of-type(1)::before {
    left: 0;
    content: '\f108';
  }
  &:nth-of-type(1)::after {
    top: 6px;
    left: 37px;
    content: '\f10b';
  }

  &:nth-of-type(2)::before {
    content: '\f085';
  }

  &:nth-of-type(3)::before {
    content: '\f0f4';
  }

  &:nth-of-type(4)::before {
    content: '\f1e0';
  }
}

// Mobile
@media (max-width: 767px) {
  .hello-world {
    padding: 3em 0;

    svg:not(.love) {
      width: 200px;
    }
  }

  .command {
    padding: 1.5em 0 2.5em;
    font-size: 1.3em;

    .highlight {
      margin: 1em auto 0;
      padding: .5em 1.2em 1.2em;
    }
  }

  .play {
    bottom: 23px;
    width: 60px;
    height: 60px;

    &::after {
      font-size: 24px;
    }
  }

  .sample {
    padding: 1em 0;

    video {
      height: 280px;
    }
  }

  .features {
    padding-top: 3em;
  }

  .feature-item {
    float: none;
    width: 100%;
    height: auto;
    padding: 3em 0;
    text-align: center;

    &::before,
    &::after,
    &:nth-of-type(1)::before {
      top: 0;
      left: -webkit-calc(50% - 20px);
      left: calc(50% - 20px);
      font-size: 36px;
    }
    &:nth-of-type(1)::after {
      top: 9px;
      left: -webkit-calc(50% + 13px);
      left: calc(50% + 13px);
      font-size: 36px;
    }

    &:nth-of-type(1) {
      padding-top: 3.5em;
    }

    &:nth-of-type(2n-1) {
      padding-right: 0;
      width: 100%;
    }

    p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.github-btn {
  overflow: hidden;
  z-index: 999;
  border: 0;
  right: 40px;
  width: 100px;
  height: 20px;
}
